#name {
    font-family: 'Arpona';
    font-size: 30px;
}
@font-face {
  font-family: 'arpona';
  src: url(Fontspring-DEMO-arpona-black.ttf);
}

.right {
  background-color: white;
  display: flex;
  height: 50px;
  margin-right: 20px;
}

#products, #about, #support {
  padding: 10px;
  font-family: 'arponathin';
  margin-top: 10px;
}
@font-face {
  font-family: 'arponathin';
  src: url(Fontspring-DEMO-arpona-thin.ttf);
}

header {  
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  border-bottom: 2px solid gray;
  padding-bottom: 15px;
  width:100%;
  position: fixed;
}

#logo {
  border-radius: 50%;
  border-style: 1px solid black;
  background-color: white;
  margin-left: 50px;
  margin-top: 15px;
  width: 80px;
  height: 80px;
}

#feature{
  font-family: 'Arpona';
  font-size: 20px;

}

#list {
  width: 100px;
  height: 200px;
  display: block;
  padding-top: 50px
}

ul {
  width: 100px;
  height: 200px;
  display: block;
  padding-top: 50px;
  font-size: 10px;
  list-style-type: none;
  font-family:'Courier New', Courier, monospace
}

li:hover{
  font-size: 18px;
}

#cargopants, #cargoshorts, #skirt, #rainjacket, #vest {
  font-size: 12px;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
}

#shop_img {
  width: 200px;
  height: 200px;
  padding-right: 150px;
  padding-top: 50px;
}

.content {
  display: flex;
  justify-content: space-between;
}

body {
  background-image: url("Paw\ Print\ Athletics\ Pattern-01.png");
  /* background-color: #cccccc; */
  background-repeat: no-repeat;
  background-position: center;
 }

#location {
  width: 50px;
  height: 50px;
}

.body {
  padding-top: 150px;
}

.products{
  padding-left: 150px;
}
.image {
  height: 100px;
  width: 80px;
}

form {
    /* border: 1px solid gray; */
    padding: 10px;
    color: gray;
    font-size: 12px;
    margin-left: 100px; 

  }
  
  
  input:focus {
    background-color: blanchedalmond;
    border: 1px solid black;
  }
  
  input[type="text"] {
    padding: 5px 5px;
    margin: 10px;
    box-sizing: content-box;
    width: 50px;
    height: 10px;
  }

  #sns, #sns_2 {
    height: 30px;
    width: 30px;
    padding-left: 20px;
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
  }

  #privacy, #copyright, #location{
    color: lightgray;
    font-size: 10px;

  }

  #location {
    padding-right: 100px;
    font-size: 12px;
    width: 100px;
  }


  img:hover {
    opacity: .5;
  }

/* .container {
    position: absolute;
    top: 10%;
    left: 100px;
    width: 80%;
    height: 80%;
    align-items: center;
    display: block;
    /* z-index: -1; 
} */

#container {
    display:none;
    position: absolute;
    top: 10%;
    left: 250px;
    width: 60%;
    height: 80%;
    align-items: center;
    display: block;
    display: none;
    /* z-index: -1; */
    border: 2px solid black;
    background-color: ghostwhite;
}

#expandedImage {
    width: 50%;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

#close{
    position: absolute;
    top: 0;
    right:0;

}

#right {
    position: absolute;
    top: 50%;
    left: 80%;  
    
}


#left{
    position: absolute;
    top: 50%;
    right: 80%;  
}

#close, #left, #right {
    width: 30px;
    height: 30px;
    border-radius: 2px solid black;
    font-weight: bold;
}

#left, #right {
    border-radius: 50%;
}

button:hover {
    background-color: antiquewhite;
    box-shadow: 0 5px #666;
}


#expandedText {
  position: absolute;
  top: 460px;
  left: 380px;
  z-index: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
}